* {
  box-sizing: border-box;
}

html {
  background-color: #333;
  color: #eee;
  font-family: monospace;
}

body {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: skyblue;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  height: 33.33%;
  border: 1px solid #eee;
  cursor: pointer;
}

.controls {
  margin: 24px 0;
}
