.gameboard {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0;
  width: 300px;
  height: 300px;
  border: 1px solid #eee;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  height: 33.33%;
  padding-bottom: 8px;
  font-size: 32px;
  border: 1px solid #eee;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.cell.is-win {
  color: white;
  background-color: pink;
}

.footer {
  padding: 32px;
}
